.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin: 40px 0px 30px 0px;
}

.navbar {
  display: flex;
  gap: 10px;
  margin: 30px;
}

.navButton {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid whitesmoke;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.navButton:hover {
  background-color: rgb(98, 0, 255);
  color: #ffffff;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 320px;
  height: 270px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.cardDescription {
  color: #666;
  margin-bottom: 10px;
}

.cardInstructor {
  color: rgb(98, 0, 255);
  font-weight: bold;
  margin-bottom: 5px;
}

.cardSchedule {
  font-style: italic;
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pageButton {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background-color: rgb(98, 0, 255);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.pageButton:hover {
  background-color: rgb(98, 0, 255);
  transform: translateY(-2px);
}

.activeButton {
  background-color: rgb(98, 0, 255);
}
